.sambutan-tk {
  padding: 0px;
  border-radius: 0px;
  max-height: 300px;
  overflow: hidden;
}
.img-samb-tk {
  border-radius: 0px;
  object-fit: cover;
  object-position: 70% 20%;
  height: 300px;
}
.tk-h1 {
  color: #fff;
  font-size: 50px;
  text-align: center;
  background-color: rgba(42, 93, 130, 0.5);
  max-width: 600px;
  border-radius: 3px;
}
.tk-h2 {
  font-size: 35px;
  text-align: center;
  max-width: 600px;
}

.tk-p {
  color: rgb(42, 93, 130);
  font-size: 25px;
  text-align: center;
  margin-top: 0px;
}
.penjelasan-tk {
  background-color: #ff9090;
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 60px;
  margin: 0px !important;
}
.penjelasan-tk-col {
  animation: text-animation 3s ease 0s 1 normal forwards;
  max-width: 600px !important;
  height: auto;
  padding: 0px 0px !important;
  gap: 20px;
  margin-top: 20px;
}
.penjelasan-tk-2 {
  background-color: #ff9090;
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  margin: 0px !important;
}
.penjelasan-tk-2-col {
  animation: text-animation 3s ease 0s 1 normal forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 600px !important;
  height: auto;
  padding: 0px 0px !important;
  gap: 20px;
  margin-top: 20px;
}
.wave5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  padding: 0 !important;
}

.wave5 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.wave5 .shape-fill {
  fill: #61c4b0;
}
.list-tawaran {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 20px;
  padding: 0px;
  gap: 20px;
}
.list-tawaran li {
  display: flex;
  align-items: center;
  padding-left: 35px;
  background: url("../a-image/checklist.svg") no-repeat 0 0.5rem;
}
.tk-card-wraper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
.card-paket-design {
  max-width: 20rem;
  border-radius: 40px;
  border: 0px;
  box-shadow: 15px 10px 3px rgba(0, 0, 0, 0.3);
  background-color: #61c4b0;
}
.card-paket-design:hover {
  cursor: pointer;
}
.modal-paket{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
/* Styles for PC size and larger screens */
@media only screen and (min-width: 1024px) {
  /* Your PC-specific styles go here */
}

/* Styles for tablets and smaller screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  /* Your tablet-specific styles go here */
  .tk-h1 {
    font-size: 35px;
    top: 25%;
  }
  .tk-h2 {
    font-size: 30px;
  }
  .tk-p {
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
  }
  .img-samb-tk {
    overflow: -moz-hidden-unscrollable;
  }
  .penjelasan-tk {
    gap: 20px;
  }
  .tk-card-wraper {
    flex-direction: column;
  }
}

/* Styles for phones and smaller screens */
@media only screen and (max-width: 767px) {
  /* Your phone-specific styles go here */
  .tk-h1 {
    font-size: 35px !important;
    top: 25%;
  }
  .tk-h2 {
    font-size: 30px !important;
  }
  .tk-p {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .penjelasan-tk {
    gap: 20px;
    flex-direction: column;
  }
  .tk-card-wraper {
    flex-direction: column;
  }
}
