.navbar-modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.button-cost {
  border: none !important;
  outline: none !important;
  transition: none !important;
}
.before-animation {
  opacity: 0 !important;
}
.card-style {
  background-color: #fff;
}
.fasilitas-cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
  bottom: 100px;
}
.fasilitas-card {
  background: none;
  border: none;
}
.footer-container {
  width: 100%;
  min-height: 600px;
  background-color: #1f5073;
  margin: 0px;
  padding: 60px;
}
.footer-container a {
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px black;
    font-family: 'Fredoka', sans-serif !important;
  font-weight: 400 !important;
}
@media (max-width: 1204px) {
  .fasilitas-card {
    max-width: 13rem;
  }
}
@media (max-width: 1024px) {
  .fasilitas-card-p {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .reviewsec-wrapper {
    max-width: 250px !important;
  }
  .fasilitas-card {
    max-width: 9rem;
    padding: 0px !important;
  }
  .fasilitas-card-p {
    font-size: 13px !important;
  }
  .icon-style {
    font-size: 15px !important;
  }
}
