.navbar-modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.button-cost {
  border: none !important;
  outline: none !important;
  transition: none !important;
}
.before-animation {
  opacity: 0 !important;
}
.animation-fade-left {
  animation: text-animation 3s ease 0s 1 normal forwards;
  opacity: 1;
}
.card-style {
  background-color: #fff;
}
.animation-bounce-down {
  animation: bounce-animation 3s ease 0s 1 normal forwards;
  opacity: 1;
}
.matpel-cover {
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.matpel-card {
  background: none;
  border: none;
}

@media (max-width: 1204px) {
 .matpel-card{
    max-width: 13rem;
 }
}
@media (max-width: 1024px) {
 .matpel-card-p{
    font-size: 13px;
 }
}
@media (max-width: 768px) {
 
}
@media (max-width: 576px) {
  .reviewsec-wrapper {
    max-width: 250px !important;
  }
   .matpel-card{
    max-width: 9rem;
    padding: 0px !important;
 }
  .matpel-card-p{
    font-size: 13px !important;
 }
 .icon-style{
    font-size: 15px !important;
 }
}
