body{
  background-color: #2a5b82 !important;
}
.App{
  background-color: #2a5b82;
}
li{
  text-align: start;
  list-style-type: none;
  margin-top: 5px;
}
.mr-3{
  margin-right: 8px;
}
.loaders{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* section 1 */
.section1 {
  position: relative;
  text-align: center;
  color: white;
}
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Poppins", sans-serif;
}
.image_welcome {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.layer {
  background-color: rgba(42, 91, 130, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* section 2 */
.section2 {
  position: relative;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #61c4b0 50%, #2a5b82 50%);
}
.postcard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2a5b82;
  background-image: url(https://i.postimg.cc/mDWSdkPX/totocungtongo-a-student-learning-in-the-middle-of-aesthetic-sno-936a6ac6-3c9b-4fad-a120-34fb87c2f45e.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 40px;
}
.postcard-text {
  position: absolute;
  /* background-color: rgba(42, 241, 122, 0.3); */
  width: 500px;
  height: 320px;
  top: 15%;
  left: 3%;
  font-family: "Poppins", sans-serif;
}
.postcard-text-p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: start;
}
