.row {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.home-wraper {
  width: 100% !important;
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}
.sambutan-wraper {
  background-color: #61c4b0;
  position: relative;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  padding: 60px;
  margin: 0px !important;
}
.sambutan-col-1 {
  animation: text-animation 3s ease 0s 1 normal forwards;
  max-width: 600px !important;
  height: auto;
  padding: 0px 0px !important;
  gap: 20px;
}
.h1-bimbel {
  font-size: 66px !important;
}
.h2-bimbel {
  font-size: 40px;
}
.h3-bimbel {
  font-size: 23px;
}
.button-sam {
  color: white !important;
  background-color: #bb5fcb !important;
  box-shadow: 5px 6px rgba(0, 0, 0, 0.3);
  transition: ease 1s;
}
.button-sam:hover {
  color: white !important;
  background-color: #850e9a !important;
  transition: ease 1s;
}
.button-sam:focus {
  color: white !important;
  background-color: #6f0b81 !important;
  box-shadow: 5px 4px rgba(0, 0, 0, 0.2);
  transition: ease 0.5s;
}
.sambutan-col-2 {
  max-width: 400px !important;
  max-height: 400px !important;
  padding: 0px 0px !important;
}
.Teacher {
  background-color: #2a5d82;
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 60px;
  border-width: 0px !important;
}
.Teacher-col-1 {
  max-width: 900px !important;
  max-height: 100%;
  padding: 0px 0px !important;
}
.whois {
  background-color: #ff9090;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 60px;
  border-width: 0px !important;
}
.judul-whois {
  text-align: center;
  font-size: 40px;
}
.whois-col {
  background-color: #ff9090;
  max-width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-style {
  flex-direction: row !important;
}
.whyus {
  background-color: #61c4b0;
  position: relative;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 10px 60px;
  border-width: 0px !important;
}
.whyus-col-1 {
  max-width: 900px !important;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px !important;
}
.fasilitas {
  background-color: #61c4b0;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 60px;
  border-width: 0px !important;
}
.wave1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  padding: 0px !important;
}

.wave1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  max-height: 65px;
  fill: #2a5d82;
}

.wave1 .shape-fill {
  fill: #2a5d82;
  top: -10px;
}
.wave2 {
  position: absolute;
  top: -10;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  padding: 0px !important;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  max-height: 115px;
  margin-bottom: -4px;
}

.wave2 .shape-fill {
  fill: #ff9090;
}
.wave3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  padding: 0 !important;
}

.wave3 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 72px;
  margin-bottom: -1px;
}

.wave3 .shape-fill {
  fill: #ff9090;
}
.wave4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  padding: 0 !important;
}

.wave4 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.wave4 .shape-fill {
  fill: #2a5d82;
}
.card-review {
  max-width: 375px !important;
  display: flex;
  flex-direction: row !important;
  padding: 10px 10px;
}
.card-review .card-body {
  padding: 5px 5px;
}
.card-review .card-img {
  max-width: 70px;
  border-radius: 50%;
}
.card-review .card-text {
  font-size: 13px;
}

@media (max-width: 1204px) {
  .whois {
    height: auto;
  }
  .judul-whois {
    text-align: center;
    font-size: 30px;
  }
  .whois-wraper {
    gap: 0px !important;
  }
}
@media (max-width: 1024px) {
  .h1-bimbel {
    font-size: 66px !important;
  }
  .h2-bimbel {
    font-size: 30px;
  }
  .h3-bimbel {
    font-size: 23px;
  }
  .image-sam {
    width: 350px !important;
  }
  .sambutan-wraper {
    height: 750px;
  }
  .wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
  }
  .judul-whois {
    text-align: center;
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .sambutan-wraper {
    height: 700px;
  }
  .h1-bimbel {
    font-size: 44px !important;
    text-align: center;
  }
  .h3-bimbel {
    font-size: 23px;
  }
  .Teacher {
    height: auto !important;
  }
  .Teacher-col-1 {
    height: auto !important;
  }
  .card-style {
    height: auto !important;
  }
  .card-style {
    flex-direction: column !important;
  }
  .wave2 svg {
    height: 90px;
  }
  .h3-bimbel {
    font-size: 18px;
    text-align: center;
  }
  .sambutan-wraper {
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
  .sambutan-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-sam {
    width: 300px !important;
  }
  .judul-whois {
    text-align: center;
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .caraousel-rev {
    padding: 0px 0px !important;
  }
  .h1-bimbel {
    font-size: 33px !important;
  }
  .h2-bimbel {
    font-size: 22px;
  }
  .h3-bimbel {
    font-size: 13px;
  }
  .h3-whyus {
    font-size: 35px !important;
  }
  .p-whyus {
    font-size: 12px !important;
  }
  .whois {
    height: auto !important;
  }
  .Teacher {
    height: 700px !important;
  }
  .wave2 svg {
    height: 100px;
  }
  .Teacher-col-1 {
    height: auto !important;
    max-width: 250px !important;
  }
  .card-style {
    height: auto !important;
  }
  .card-style {
    flex-direction: column !important;
  }
  .card-title {
    font-size: medium !important;
  }
  /* .card-program{
    max-width: 300px !important;
  } */
  .card-text {
    font-size: small !important;
  }
  .card li {
    font-size: 12px !important;
  }
  .whois {
    padding: 20px;
  }
  .whois-wraper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .judul-whois {
    text-align: center;
    font-size: 30px;
  }
}

/* styles.css */

/* Animate the cards */
@keyframes billboardAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Apply animation to the card */
.card-animation {
  animation: billboardAnimation 13s linear infinite; /* Adjust the animation duration and timing function as needed */
}
/* styles.css */

/* Animate the cards */
@keyframes billboardAnimation2 {
  0% {
    transform: translateX(100%); /* Start from right outside the container */
  }
  100% {
    transform: translateX(-100%); /* Move to the left outside the container */
  }
}

/* Apply animation to the card */
.card-animation2 {
  animation: billboardAnimation2 10s linear infinite; /* Adjust the animation duration and timing function as needed */
}
.card-animation3 {
  animation: billboardAnimation 9s linear infinite; /* Adjust the animation duration and timing function as needed */
}
