.home-wraper {
  width: 100% !important;
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

.welcome-section {
  background-color: #61c4b0;
  max-width: 100vw !important;
  padding: 30px 30px;
  margin: 0px !important;
}
.sambutan-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 60px;
}
.sambutan-col-1 {
  max-width: 300px;
  height: auto;
  padding: 0px 0px !important;
}
.sambutan-col-2 {
  max-width: 300px;
  height: auto;
  padding: 0px 0px !important;
}
