body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.fredokaB{
  font-family: 'Fredoka', sans-serif !important;
  font-weight: 600 !important;
}
.fredokaL{
  font-family: 'Fredoka', sans-serif !important;
  font-weight: 400 !important;
}
.bimbel-blue{
  color: #2a5b82 !important;
}

.back-darkblue{
  background-color: #2a5b82 !important;
}
.back-lightblue{
  background-color: #61c4b0 !important;
}

@keyframes text-animation {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}