body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.fredokaB{
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
}
.fredokaL{
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
}
.bimbel-blue{
  color: #2a5b82 !important;
}